<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/e6fbf7b295.js" crossorigin="anonymous"></script>
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
  <title>Gestion Boutique - {% block title %}{% endblock %}</title>
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>